.contact-me{
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #2a2c2d;
       height: 50vh;
       width: 100vw;
       flex-direction: column;
      overflow: hidden;
       /* border: 1px solid red; */
} 
.contact-me .contact-title{
    
       color: skyblue;
       display: flex;
       height: 100%;
       width: 100%;
       font-weight:bolder;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       padding: 25px;
       font-size: 30px;
       
}

.contact-container{
       padding: 10px;
       display: flex;
       height: 100%;
       width: 100%;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       overflow: hidden;
       
}

.contact-header{
       padding: 30px;
       display: flex;
       align-items: center;
       justify-content: center;
       height: auto;
      flex-direction: column;
       width: 100%;
       color: white;
       overflow-x: hidden;
       
}

.home-icons {
       display: flex;
       gap: 1rem;
       color: default;
       justify-content: center;
       align-items: center;
       text-decoration: none;
       font-size: 20px;
       /* overflow-x: hidden; */
}

.home-icons > a:hover {
       background-color: inherit;
       color: white;
       transform: translateY(10%);
}

footer, footer >  p{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       color: gray;
       font-size: 10px;
       padding: 10px;
       
}

@media screen and (max-width: 820px){
       .contact-me{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
       }
       .home-icons{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
       }

       .contact-header{
              overflow: hidden;
       }
}
@media screen and (max-width: 786px) {
       .contact-me{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              overflow: hidden;
              height: 50vh;
              width: 100vw;
       }
       .home-icons{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;

              
       }
       .contact-me .contact-title{
              font-size: 25px;
       }
       
}

@media screen and (max-width: 600px) {
       .contact-me{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              overflow-x: hidden;
              height: 50vh;
              width: 100vw;
       }
       .home-icons{
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
       }
       .contact-header{
              overflow: hidden;
       }
}
