html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #161616;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link-montserrat {
    font-family: 'Montserrat', sans-serif;  
    color: whitesmoke; 
}

.font-link-lato{
  font-family: 'Lato', sans-serif;
}

.font-link-oswald{
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  letter-spacing: 0.1em;
  word-wrap: break-word;

  
}

.font-link-bebas{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 0.2em;
  color: whitesmoke;
}