
.project-container{
       display: grid;
       height: 100vh;
       width: 100vw;
       justify-content: center;
       align-items: center;
       gap: 1rem;
       grid-template-columns: repeat(2, 1fr);
       grid-template-columns: repeat(minmax(200px, 1fr));
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
       background: inherit;
       text-align: center;
       overflow: hidden;
}
.wrapper{
       display: grid;
       /* gap: 1rem; */
       grid-template-columns: repeat(2, 1fr);
       grid-template-columns: repeat(minmax(200px, 1fr));
       grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
       margin: 0 25px;
       
}

.project-header{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: flex-start;
       margin: auto;
       padding: 25px;
       gap: 1rem;
       
}
.project-header > .header-portfolio{
       color: skyblue;
}

.project-header > h4, h3 {
       color: white;
}
.project-desc{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       margin: auto;
       height: 350px;
       width: 350px;
       gap: 1rem;
       text-align: center;
       overflow: hidden;
       padding-top: 100px;
}

.project-desc > h4, p{
       text-align: justify;
       text-justify: inter-word;
}

.project-title{
       color: white;
}

.tech-used{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: row;
       gap: 1rem;
       height: 20px;
       text-decoration: none;
       list-style: none;
      
}

.tech-used > a {
       display: flex;
       align-items: center;
       justify-content: center;
} 

.project-tech p {
       display: flex;
       align-items: center;
       justify-content: center;
     
}
     
.project-tech{
       color:white;
       text-decoration: none;
       height: 25px;
       /* margin: auto; */
}

.checkIt{
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       flex-direction: row;
       gap: 1rem;
}
.check > a{
       color:white;
       text-decoration: none;
       margin: auto;
}

.check:hover h4{
       background-color: inherit;
       color: gray;
       transform: translateY(-20%);
       transition: ease-out;
}
.imageholder{
       
       display: flex;
       height: 300px;
       width: 350px;
       margin: auto;
       justify-content: center;
       border-radius: 10%;
     
}

.imageholder1{
       
       display: flex;
       height: 300px;
       width: 350px;
       margin: auto;
       justify-content: center;
       border-radius: 10%;
     
}


.imageholder > img{
       border: inherit;
       max-width: 100%;
       max-height: 100%;
       object-fit: fill;
       border-radius: 10%;
       box-shadow: 2px 2px 3px gray;
      
       
}
@media screen and (max-width: 820px)  {
       .project-container{
              display: flex;
              height: 50%;
              width: 100%;
       }
}


@media screen and (max-width: 786px){
       .project-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.25rem;
              width: 100vw;
              height: 100vh;
              margin-top: 25px;
              padding-top: 50px;
              overflow-x: hidden;
             
       }
       .wrapper{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.5rem;
              border: 1px solid grey;
              border-radius: 20px;
              
              /* padding: auto; */
       }

       .project1-wrapper{
              margin-bottom: 50px;
       }

       .project-header{
              display: flex;
              height: auto;
              width: 100%;
              justify-content: start;
              flex-direction: column;
              align-items: center;
              gap: 1rem;
              margin: 0;
              overflow-x: none;
       }
       
       
       .project-desc{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              height: 500px;
              width: 500px;
              /* gap: 1rem; */
              text-align: center;
              margin: 25px;
              overflow-x: none;
             
       }
              
       .project-desc >  p{
              
              line-height: 20px;
              text-align: justify;
              text-justify: inter-word;
              overflow-x: none;
              font-size: 20px;
              width: 350px;
       }
       
       .header-portfolio{
              padding-top: 25px;
       }

       .imageholder{
              height: 250px;
              width: auto;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 25px 25px;
       }
       .imageholder1{
              height: 250px;
              width: auto;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 25px 25px;
       }

       .imageholder > img{
              
              max-width: 100%;
              max-height: 100%;
              object-fit: fill;
              border-radius: 10%;
              position: relative;
              z-index: 1;
              overflow-x: none;
       }


       .project-title{
              color: white;
              font-size: 25px;
              font-style: bolder;
       }
       
       .tech-used{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
              height: 20px;
              overflow-x: none;
       }
       .project-tech{
              color:white;
              text-decoration: none;
              height: 20px;
              overflow-x: none;
       }

       
       .checkIt{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
       }
       .check > a{
              color:white;
              text-decoration: none;
              margin: auto;
       }
       
       .check:hover h4{
              background-color: inherit;
              color: gray;
              transform: translateY(20%);
              transition: ease-out;
       }
}

@media screen and (max-width: 600px){
       .project-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.25rem;
              width: 100vw;
              height: 100%;
              /* margin: 25px; */
              padding: 0;
              overflow-x: hidden;
              
             
       }
       .wrapper{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.25rem;
               overflow-x: hidden;
              /* padding: 25px; */
              border: none;

       
       }

       .project-header{
              display: flex;
              height: 100%;
              width: 300px;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              gap: 0.5rem;
              margin: 0;
              padding: 0;
       }

       .header-portfolio{
              padding-top: 25px;
       }
            
       .project-desc{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              height: 100%;
              width: 100%;
              padding: 30px;
              /* gap: 1rem; */
              text-align: center;
              /* margin: 25px; */
              overflow: hidden;
              font-size: 10px;
             
       }
       
       .project-desc >  p{
              
              line-height: 20px;
              text-align: justify;
              text-justify: inter-word;
              height: 100%;
              overflow: hidden;
              padding: 35px;
       }
       

       .imageholder{
              height: 250px;
              width: 400px;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 35px;
       }
       .imageholder1{
              height: 250px;
              width: 400px;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 35px;
       }

       .imageholder > img{
              
              max-width: 100%;
              max-height: 100%;
              object-fit: fill;
              border-radius: 10%;
              position: relative;
              z-index: 1;
              overflow-x: hidden;
       }

       .project-title{
              padding: 0;
              color: white;
       }
       
       .tech-used{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
              height: 20px;
              overflow-x: none;
              font-size: 20px;
       }
       .project-tech{
              color:white;
              text-decoration: none;
              height: 20px;
              overflow-x: none;
       }

       
       .checkIt{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
              font-size: 15px;
       }
       .check > a{
              color:white;
              text-decoration: none;
              margin: auto;
       }
       
       .check:hover h4{
              background-color: inherit;
              color: gray;
              transform: translateY(20%);
              transition: ease-out;
       }
}

@media screen and (max-width: 600px){
       .project-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.25rem;
              width: 100vw;
              height: 100%;
              /* margin: 25px; */
              padding: 0;
              overflow-x: hidden;
              
             
       }
       .wrapper{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              gap: 0.25rem;
               overflow-x: hidden;
              /* padding: 25px; */
              border: none;

       
       }

       .project-header{
              display: flex;
              height: 100%;
              width: 300px;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              gap: 0.5rem;
              margin: 0;
              padding: 0;
       }

       .header-portfolio{
              padding-top: 25px;
       }
            
       .project-desc{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              height: 100%;
              width: 100%;
              padding: 30px;
              /* gap: 1rem; */
              text-align: center;
              /* margin: 25px; */
              overflow: hidden;
              font-size: 10px;
             
       }
       
       .project-desc >  p{
              
              line-height: 20px;
              text-align: justify;
              text-justify: inter-word;
              height: 100%;
              overflow: hidden;
              padding: 35px;
       }
       

       .imageholder{
              height: 250px;
              width: 350px;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 35px;
       }

       .imageholder1{
              height: 250px;
              width: 350px;
              position: relative;
              z-index: 1;
              overflow-x: none;
              padding: 35px;
       }

       .imageholder > img{
              
              max-width: 100%;
              max-height: 100%;
              object-fit: fill;
              border-radius: 10%;
              position: relative;
              z-index: 1;
              overflow-x: hidden;
       }

       .project-title{
              padding: 0;
              color: white;
       }
       
       .tech-used{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
              height: 20px;
              overflow-x: none;
              font-size: 20px;
       }
       .project-tech{
              color:white;
              text-decoration: none;
              height: 20px;
              overflow-x: none;
       }

       
       .checkIt{
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              gap: 1rem;
              font-size: 15px;
       }
       .check > a{
              color:white;
              text-decoration: none;
              margin: auto;
       }
       
       .check:hover h4{
              background-color: inherit;
              color: gray;
              transform: translateY(20%);
              transition: ease-out;
       }
}